@use "src/styles/helpers" as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: $shadow-card;
  @include sm {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  @include sm {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.body {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  @include text-field-lg;
}

.role {
  @include text-subtitle-4;
  background-color: var(--white);
  padding: 4px 8px;
}

.description {
  @include text-field-sm;
  @include sm {
    display: none;
  }
}