@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  margin: 100px 0;
  background: linear-gradient(180deg, #ffffff 0%, #ede9ff 26.5%, #ffffff 100%);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  z-index: 1;
  @include lg {
    margin: 40px 0 100px 0;
    background: none;
  }

  &::before {
    content: '';
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    width: 520px;
    height: 790px;
    transform: rotate(41deg);
    top: 20px;
    right: 200px;
    background: radial-gradient(rgba(206, 195, 255, 1) 25%, rgba(255, 255, 255, 0) 70%);
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 98px;
  @include md {
    margin-bottom: 16px;
  }
}

.list {
  display: grid;
  // SASHA 480px becouse if i put there 1fr, our margin-calc send our grid cell to nahuy
  grid-template-columns: repeat(2, 480px);
  justify-content: center;
  gap: 64px 25px;
  @include md {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 480px;
  height: 245px;
  padding: 0 32px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 68.53%);

  &:last-child {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 20px;
  margin: -40px 0 32px;
  color: var(--brand-purpe-200);
  background: var(--brand-purpe-10);
  @include md {
    margin: 0;
    padding: 7px;
    border-radius: 8px;
    color: var(--brand-purpe-300);
    background-color: var(--brand-purpe-50);
  }

  svg {
    width: 56px;
    height: 56px;
    @include md {
      width: 25px;
      height: 25px;
    }
  }
}

.item-title {
  @include text-heading-4;
  padding-bottom: 12px;
}

.description {
  @include text-subtitle-3;
  max-width: 360px;
}
