@use 'src/styles/helpers' as *;


.wrapper {
  position: relative;
  // background: var(--general-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.5;
  }

  &::after {
    width: 600px;
    height: 500px;
    transform: rotate(-16deg);
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    top: -20px;
    right: -50px;
    z-index: -1;
  }
}

.container {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
  gap: 32px;

  @include sm {
    margin: 48px 0;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 16px;

  @include lg {
    max-width: 600px;
  }

  @include xs {
    @include text-subtitle-1;
    max-width: 300px;
  }
}

.description {
  @include text-subtitle-2;
  max-width: 950px;
  text-align: center;
  margin-bottom: 36px;

  @include xs {
    @include text-main-3;
  }
}

.content {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;

  @include md {
    width: 100%;
  }

  @include sm {
    margin-bottom: 0;
  }
}