@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  background: var(--brand-purpe-20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.wrapper-2 {
  position: relative;
  background: var(--general-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.image-back {
  position: absolute;
  z-index: 1;
  left: 65%;
  @include md {
    display: none;
  }
  opacity: 10%;
}

.image-back-2 {
  position: absolute;
  z-index: 1;
  right: 65%;
  @include md {
    display: none;
  }
  opacity: 10%;
}

.container {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
  gap: 24px;
  @include sm {
    margin: 48px 0;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  @include lg {
    max-width: 600px;
  }
  @include xs {
    @include text-subtitle-1;
    max-width: 300px;
  }
}

.description {
  @include text-subtitle-2;
  max-width: 600px;
  text-align: center;
  margin-bottom: 72px;
  @include xs {
    @include text-main-3;
    text-align: center;
    max-width: 300px;
    margin-bottom: 0;
  }
}

.content {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  @include md {
    width: 100%;
  }
  @include sm {
    margin-bottom: 0;
  }
}

.button {
  width: 380px;
  font-weight: 700;
  @include xs {
    width: 100%;
  }
}
