@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 12px;
  padding: 40px 12px 64px;
  height: 100%;
  background-color: var(--general-white);
  border-radius: $radius-small;

  box-shadow:
    0px 5px 11px 0px rgba(134, 159, 172, 0.1),
    0px 20px 20px 0px rgba(134, 159, 172, 0.09),
    0px 44px 27px 0px rgba(134, 159, 172, 0.05),
    0px 79px 32px 0px rgba(134, 159, 172, 0.01),
    0px 123px 35px 0px rgba(134, 159, 172, 0);
  @include md {
    padding: 24px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -16px;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 68.53%);
    box-shadow:
      0px 0px 0px 0px rgba(0, 0, 0, 0.02),
      0px 16px 35px 0px rgba(0, 0, 0, 0.02),
      0px 0px 64px 0px rgba(0, 0, 0, 0.02),
      0px 0px 86px 0px rgba(0, 0, 0, 0.01),
      0px 256px 102px 0px rgba(0, 0, 0, 0),
      0px 399px 112px 0px rgba(0, 0, 0, 0);
  }
}

.title {
  @include text-heading-4;
  max-width: 310px;
  @include md {
    @include text-heading-5;
  }
}

.description {
  @include text-subtitle-3;
  max-width: 270px;
  @include md {
    @include text-main-3;
  }
}

.image {
  @include md {
    width: 44px;
    height: 44px;
  }

  &__wrapper {
    background: var(--brand-purpe-20);
    padding: 12px;
    border-radius: 20px;
  }
}
