@use "src/styles/helpers" as *;

.wrapper {
  overflow: hidden;
  align-items: center;
  padding: 32px;
  border-radius: 20px;
  cursor: pointer;
  transition: $default-transition;
  @include md {
    padding: 16px 20px;
    border-radius: 20px;
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(78, 48, 210, 0.3);
  }
}

.header {
  @include text-subtitle-3;
  display: flex;
  gap: 16px;
  align-items: center;
}

.content {
  @include text-main-3;
  max-height: 0;
  margin-top: 8px;
  overflow: hidden;
  color: var(--general-black);
  transition:
          max-height 0.3s ease-out,
          padding 0.3s ease-out;
}

.arrow {
  display: block;
  margin-left: auto;

  &:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}

