@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
  @include lg {
    margin-top: 60px;
  }
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  @include lg {
    flex-direction: column;
    align-items: center;
  }

  &__content {
    flex: 1 0 0;
    max-width: 630px;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include lg {
      min-width: unset;
      align-items: center;
    }
  }

  &__title {
    text-align: start;
    @include md {
      text-align: center;
    }
  }

  &__text {
    @include text-subtitle-2;
    margin-top: 16px;
  }

  &__button {
    @include xs {
      width: 100% !important;
    }
  }
}

.quiz {
  flex: 2 0 0;
  max-width: 550px;
  position: relative;

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    @include md {
      height: auto;
    }
  }

  &__tag {
    @include text-subtitle-3;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--white);

    box-shadow:
      1.31px 1.97px 0px 0px rgba(255, 255, 255, 0.6) inset,
      -12.18px 36.69px 44.9px 0px rgba(81, 78, 120, 0.18);
  }

  &__content {
    width: 100%;
    max-width: 435px;
    position: absolute;
    padding: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--general-white);
    border-radius: 8px;
  }

  &__title {
    @include text-subtitle-2;
    margin-bottom: 16px;
  }

  &__description {
    @include text-main-2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    margin-bottom: 24px;
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.topics-title {
  margin-bottom: 24px;
  @include md {
    margin-bottom: 8px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 24px;
  @include lg {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  @include sm {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
