@use "src/styles/helpers" as *;

.wrapper {
  display: flex;
  align-items: center;
  padding-left: 80px;
  max-width: 100%;
  overflow: hidden;
  gap: 80px;
  border-radius: $radius-small;

  box-shadow:
          0px 5px 11px 0px rgba(134, 159, 172, 0.1),
          0px 20px 20px 0px rgba(134, 159, 172, 0.09),
          0px 44px 27px 0px rgba(134, 159, 172, 0.05),
          0px 79px 32px 0px rgba(134, 159, 172, 0.01),
          0px 123px 35px 0px rgba(134, 159, 172, 0);
  background:
          linear-gradient(86.61deg, rgba(240, 236, 255, 0.2) 0.23%, rgba(206, 195, 255, 0.2) 99.74%);

  @include md {
    gap: 0;
    padding-left: 32px;
  }
  @include xs {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  min-width: 550px;
  flex-direction: column;
  gap: 16px;
  @include lg {
    padding: 16px;
  }
  @include sm {
    min-width: 300px;
  }
  @include xs {
    padding: 16px 32px 32px;
    min-width: unset;
    align-items: center;
    text-align: center;
  }
}

.title {
  @include text-heading-3;
}

.text {
  @include text-subtitle-2;
  @include sm {
    @include text-subtitle-4;
  }
}

.image {
  @include lg {
    width: 100%;
    height: auto;
  }
  @include xs {
    max-height: 200px;
    width: 550px;
    object-fit: cover;
    object-position: top;
  }
}

.button {
  @include xs {
    width: 100% !important;
  }
}