@use 'src/styles/helpers' as *;

.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $max-page-width;
  height: $header-height;
  padding: 0 32px;

  @include sm {
    height: $header-height-sm;
    padding: 0 24px;
  }
}

.logo {
  flex: 1;

  &__image {
    width: 180px;
    height: 68px;

    @include sm {
      width: 106px;
      height: 43px;
    }
  }
}

.navigation {
  display: flex;
  gap: 32px;
  position: relative;

  .hideMenuItem {
    display: none;
  }

  @include lg {
    width: 270px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-top: 1px solid var(--brand-purpe-100);
    border-bottom: 1px solid var(--brand-purpe-100);
    padding: 32px 0;
  }
}

.link {
  @include text-subtitle-2;
  color: var(--general-black);
  transition: $default-transition;
  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--brand-purpe-400);

    + .dropdownMenu {
      display: flex;
    }
  }

  &--active {
    color: var(--brand-purpe-400);
  }

  @include lg {
    font-size: 16px;
    line-height: 1.5;
  }
}

.dropdownMenu {
  position: absolute;
  top: 130%;
  left: 300%;
  transform: translateX(-50%);
  width: fit-content;
  min-width: 500px;
  max-width: 2000px;
  width: 100vw;
  background: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  min-height: 244px;
  min-width: 380px;
  padding-bottom: 24px;
  padding-top: 24px;

  flex-direction: column;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    .link,
    .dropdownIcon,
    .dropdownIconButton {
      color: var(--brand-purpe-400);
    }
  }

  @include lg {
    &.dropdownActive {
      .link,
      .dropdownIcon,
      .dropdownIconButton {
        color: var(--brand-purpe-400);
      }
    }
  }
}

.dropdownIcon {
  width: 24px;
  height: 24px;
  transition:
    color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  color: var(--general-black);

  @include lg {
    width: 20px;
    height: 20px;
  }
}

.dropdownWrapper:hover .dropdownIcon,
.dropdownMenuActive + .dropdownHeader .dropdownIcon {
  color: var(--brand-purpe-400);
}

.dropdownIconButton {
  color: var(--general-black);
  transition: color 0.3s ease;

  &:hover {
    color: var(--brand-purpe-400);
  }
}

.dropdownMenuActive {
  visibility: visible;
  opacity: 1;
}

.dropdownWrapper {
  position: relative;
}

.dropdownList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 12px;
  padding: 10px 400px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.dropdownItem {
  font-family: 'nunito';
  font-size: 18px;
  font-weight: 500; // Semi-bold
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: var(--general-black);
  transition: $default-transition;
  cursor: pointer;
  min-width: 240px;
  justify-content: flex-start;

  &:hover {
    background-color: var(--brand-purpe-50);
  }

  @include lg {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    min-width: 320px; // Increased width for tablet
    white-space: nowrap; // Prevents text wrapping
  }
}

.icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.actions {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  gap: 16px;

  @include lg {
    flex-grow: 0;
    gap: 24px;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: $default-transition;
}

.hamburger {
  display: none;

  @include lg {
    display: block;
    z-index: $z-index-hamburger;
    cursor: pointer;
  }

  &--active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--white);
  transform: translateX(100%);
  z-index: $z-index-drawer;

  &--active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }
}

.drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px;
  height: 100%;
}

.dropdownMenuMobile {
  display: none;
  padding-left: 16px;
  margin-top: 8px;

  &Active {
    display: block;
  }

  .dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--general-black);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--brand-purpe-400);
      background-color: var(--brand-purpe-50);
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: $default-transition;
  z-index: 10;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
