@use 'src/styles/helpers' as *;

.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $max-page-width;
  height: 100px;
  padding: 0 32px;
  @include sm {
    padding: 0 24px;
  }
}

.logo {
  flex: 1;

  &__image {
    width: 180px;
    height: 68px;
    @include sm {
      width: 106px;
      height: 43px;
    }
  }
}

.navigation {
  display: flex;
  gap: 32px;
  @include lg {
    width: 270px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-top: 1px solid var(--brand-purpe-100);
    border-bottom: 1px solid var(--brand-purpe-100);
    padding: 32px 0;
  }
}

.link {
  @include text-subtitle-2;
  color: var(--general-black);
  transition: $default-transition;

  &:hover {
    color: var(--brand-purpe-400);
  }

  &--active {
    color: var(--brand-purpe-400);
  }
}

.actions {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  gap: 16px;
  @include lg {
    flex-grow: 0;
    gap: 24px;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: $default-transition;
}

.hamburger {
  display: none;
  @include lg {
    display: block;
    z-index: $z-index-hamburger;
    cursor: pointer;
  }

  &--active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: $z-index-drawer;

  &--active {
    transform: translateX(0);
  }
}

.drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: $default-transition;
  z-index: 10;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}


