@use "src/styles/helpers" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  margin-top: 40px;

  //background-color: var(--brand-purpe-50);

//  write cool graidnet based on this color:
//  background-image: linear-gradient(180deg, var(--white) 0%, var(--brand-purpe-50) 100%);
//  background: var(--brand-purple-50);

  //background: rgb(0,0,0);
  //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(219,219,255,1) 39%, rgba(0,0,0,1) 79%);
  //background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(219,219,255,1) 39%, rgba(0,0,0,1) 79%);
}

.body {
  flex: 1;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.authors {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  @include xs {
    flex-direction: column;
    gap: 24px;
  }
}

.title {
  @include text-heading-1;
  margin-bottom: 24px;
  @include sm {
    @include text-heading-3;
  }
}

.container {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
  @include sm {
    margin-bottom: 0;
  }
}

.text {
  @include text-main-3;
}

.sidebar {
  position: sticky;
  top: calc($header-height + 32px);
  flex: 0 0 400px;
  padding: 24px 32px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: $shadow-card;
  @include lg {
    display: none;
  }

  &__title {
    @include text-heading-4;
    margin-bottom: 12px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    @include text-main-2;
    transition: $default-transition;

    &:hover {
      color: var(--brand-purpe-400);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  h1 {
    @include text-heading-1;
    margin-bottom: 24px;
    @include sm {
      @include text-heading-3;
    }
  }

  h2 {
    @include text-heading-2;
    margin-bottom: 24px;
    @include sm {
      @include text-heading-4;
    }
  }

  h3 {
    @include text-heading-3;
    margin-bottom: 24px;
    @include sm {
      @include text-heading-4;
    }
  }

  h4 {
    @include text-heading-4;
    margin-bottom: 24px;
  }

  p {
    display: flex;
    width: 100%;
    flex-direction: column;
    @include text-subtitle-2;
    margin-bottom: 24px;
  }

  em {
    @include text-main-2;
    color: var(--neural-400);
  }

  img {
    width: 100%;
    align-self: center;
    margin-bottom: 12px;
    border-radius: 12px;

    &+em {
      text-align: center;
      font-style: unset;
    }
  }

  li {
    @include text-subtitle-2;
    margin-bottom: 12px;
    margin-left: 24px;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 24px 0 64px;
  @include md {
    width: 100%;
    max-width: 300px;
    justify-content: space-around;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    @include text-heading-4;
    margin-bottom: 12px;
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__text {
    @include text-subtitle-2;
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 24px;
    @include lg {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    @include sm {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
  }
}