@use 'src/styles/helpers' as *;

.wrapper {
  margin-bottom: 150px;

  @include lg {
    margin-bottom: 40px;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 64px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 30px 0;
  gap: 54px;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel {
  padding-bottom: 34px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    height: 100%;
  }
}

.dots {
  padding: 0 4px;

  svg {
    width: 6px;
    height: 6px;
    // fill: var(--brand-purpe-400);
  }
}
