@use 'src/styles/helpers' as *;


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 60px 0 32px 0;
  font-family: $font-nunito;
  color: var(--general-black);
  gap: 100px;

  @include lg {
    width: 960px;
  }

  @include md {
    width: 710px;
    padding: 40px 0 32px 0;
    gap: 20px;
  }

  @include sm {
    width: 380px;
  }

  @include rwd(375) {
    width: 330px;
  }

  @include rwd(320) {
    width: 300px;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;

  @include sm {
    font-size: 32px;
    text-align: center;
  }
}