@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;

  @include md {
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  @include sm {
    max-width: 100%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.4;
  }

  &::before {
    width: 900px;
    height: 600px;
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    left: -25px;
    top: 50px;
    z-index: -1;
  }

  &::after {
    width: 600px;
    height: 450px;
    transform: rotate(-16deg);
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    top: 75px;
    right: -20px;
    z-index: -1;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 70px;

  @include lg {
    max-width: 600px;
    margin-bottom: 60px;
  }

  @include md {
    @include text-heading-4;
    text-align: center;
    margin-bottom: 60px;
  }

  @include xs {
    @include text-subtitle-1;
    max-width: 300px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;

  @include md {
    gap: 8px;
    margin-bottom: 0px;
  }
}
