@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  margin-bottom: 200px;
  @include lg {
    margin-bottom: 100px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: 750px;
    height: 550px;
    background: radial-gradient(rgba(172, 154, 255, 1) 25%, rgba(255, 255, 255, 0) 70%);
    right: 150px;
    top: 150px;
    z-index: -1;
    opacity: 0.5;
  }

  &::after {
    width: 650px;
    height: 500px;
    background: radial-gradient(rgba(206, 195, 255, 1) 25%, rgba(255, 255, 255, 0) 70%);
    top: -80px;
    right: -130px;
    z-index: -1;
    opacity: 0.8;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 45px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  list-style-type: none;
  padding-bottom: 24px;
}

.item-title {
  @include text-heading-4;
  padding-bottom: 8px;
}

.description {
  @include text-subtitle-3;
  max-width: 475px;
}

.image {
  @include lg {
    display: none;
  }
}

.star-1 {
  position: absolute;
  top: 45px;
  right: -20px;
  color: var(--brand-purpe-500);
  @include lg {
    display: none;
  }
}

.star-2 {
  position: absolute;
  top: -50px;
  right: 125px;
  color: var(--brand-purpe-200);
  @include lg {
    display: none;
  }
}
