@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.5;
  }

  // &::before {
  //   width: 900px;
  //   height: 800px;
  //   background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
  //   left: 0px;
  //   top: 0px;
  //   z-index: -1;
  // }

  &::after {
    width: 600px;
    height: 500px;
    transform: rotate(-16deg);
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    top: -20px;
    right: -50px;
    z-index: -1;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 70px;

  @include lg {
    max-width: 600px;
  }

  @include xs {
    @include text-subtitle-1;
    max-width: 300px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
