@use "src/styles/helpers" as *;

.wrapper {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.3;
  }

  &::before {
    width: 900px;
    height: 800px;
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    left: 0px;
    top: 0px;
    z-index: -1;
    @include md {
      display: none;
    }
  }

  &::after {
    width: 600px;
    height: 500px;
    transform: rotate(-16deg);
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    top: -20px;
    right: -50px;
    z-index: -1;
    @include md {
      display: none;
    }
  }
}

.title {
  margin-bottom: 100px;
  @include md {
    margin-bottom: 32px;
  }
}

.list {
  display: flex;
  gap: 24px;
  @include md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  border-radius: 28px;
  min-height: 280px;
  padding: 32px;

  box-shadow: 0px 1.75px 7.02px 0px #2B2C540D;
  @include md {
    min-height: 150px;
    padding: 16px;
  }
  @include xs {
    min-height: unset;
  }
}

.subtitle {
  @include text-heading-2;
  color: var(--brand-purpe-500);
}

.text {
  @include text-main-2;
  max-width: 200px;
}