@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 230px;

  @include lg {
    margin-bottom: 100px;
  }

  @include md {
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  @include sm {
    display: grid;
    grid-template-areas:
      'title'
      'description'
      'img'
      'button';
    gap: 24px;
  }

  &::before {
    content: '';
    position: absolute;

    width: 466px;
    height: 467px;
    background: radial-gradient(rgba(172, 154, 255, 1) 25%, rgba(255, 255, 255, 1) 70%);

    right: 25%;
    top: 42%;
    z-index: -1;
    opacity: 0.5;

    @include md {
      width: 273.3px;
      height: 273.88px;
      top: 40%;
      left: 50%;
    }
  }
}

.animation {
  width: 440px;
  min-height: 210px;
  margin-left: 45%;

  @include md {
    margin: auto;
    transform: translateY(-50%);
  }

  @include sm {
    max-width: 75%;
  }

  @include xs {
    max-width: 85%;
    max-height: 140px;
  }
}

.title {
  @include text-heading-1;
  max-width: 690px;
  margin-bottom: 64px;

  @include md {
    @include text-heading-4;
    text-align: center;
    margin-bottom: 0;
  }
}

.description {
  @include text-subtitle-2;
  font-weight: 400;
  margin-bottom: 64px;
  max-width: 380px;

  @include md {
    font-size: clamp(1rem, 2vw, 1.25rem);
    text-align: center;
    max-width: 600px;
    margin-bottom: 24px;
  }
}

.button {
  width: 384px;

  @include md {
    width: 100%;
    max-width: 400px;
    margin-top: -10px;
    font-size: 16px;
    padding: 16px 24px;
  }

  @include sm {
    grid-area: button;
    margin-top: 25px;
  }
}

.img {
  position: absolute;
  border-radius: 20px;
  top: 30%;
  right: 0;

  @include lg {
    width: 440px;
    height: 280px;
    right: 5%;
    top: 40%;
  }

  @include md {
    width: 590px;
    height: 390px;
    position: static;
    margin: 24px 0 0;
  }

  @include sm {
    grid-area: img;
    width: 100%;
    height: auto;
    margin-top: -10px;
  }
}
