@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  margin-bottom: 100px;
  @include lg {
    margin-bottom: 0;
  }
}

.container {
  margin-bottom: 100px;
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 45px;
}

.cardsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  width: 352px;
  height: 364px;
  background-color: var(--general-white);
  border: 10px solid linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 68.53%);
  border-radius: $radius-small;

  box-shadow:
    0px 5px 11px 0px rgba(134, 159, 172, 0.1),
    0px 20px 20px 0px rgba(134, 159, 172, 0.09),
    0px 44px 27px 0px rgba(134, 159, 172, 0.05),
    0px 79px 32px 0px rgba(134, 159, 172, 0.01),
    0px 123px 35px 0px rgba(134, 159, 172, 0);
}
