@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 60px 0;
  color: var(--general-black);
  gap: 100px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;


  .title {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 60%;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;

    @include lg {
      flex: 0 1 65%;
    }

    @include md {
      flex: 0 1 75%;
    }

    @include sm {
      flex: 0 1 50%;
      font-size: 28px;
      justify-content: flex-start;
    }

    @include rwd(325) {
      font-size: 24px;
    }
  }
}

.annual-savings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 1 40%;
  gap: 4px;

  @include sm {
    flex: 0 1 50%;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;

    @include sm {
      font-size: 12px;
    }
  }

  .savings-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    color: rgba(71, 85, 105, 1);
  }
}