@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.5;
  }

  &::before {
    width: 900px;
    height: 800px;
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  &::after {
    width: 600px;
    height: 500px;
    transform: rotate(-16deg);
    background: radial-gradient(rgba(172, 154, 255, 0.9) 25%, rgba(255, 255, 255, 0) 70%);
    top: -20px;
    right: -50px;
    z-index: -1;
  }
}

.title {
  @include text-heading-2;
  text-align: center;
  margin-bottom: 70px;

  @include lg {
    max-width: 600px;
  }

  @include xs {
    @include text-subtitle-1;
    max-width: 300px;
  }
}

.description {
  @include text-subtitle-2;
  margin-bottom: 16px;
  text-align: center;
  max-width: 800px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 33px;
  padding: 64px;

  @include md {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px;
    gap: 8px;
  }
}

.item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.subtitle {
  @include text-heading-4;
  margin-bottom: 8px;
}

.text {
  @include text-subtitle-3;
}

.image {
  display: flex;
  padding: 8px;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--brand-purpe-400);

  @include md {
    padding: 6px;
    border-radius: 8px;
  }

  svg {
    width: 32px;
    height: 32px;

    @include md {
      width: 20px;
      height: 20px;
    }
  }
}
