@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.blog-box3 {
	display: flex;
	max-width: 1200px;
	height: 294px;
	margin-bottom: 75px;
	flex-direction: row;
	border-color: #6444F4;
	border-width: medium;
	background-color: #E8E8E8;
	border-radius: 30px;
}



/*@media (max-width: 1200px) {
	.blog-box3 {
		width: 800px;
	}
}*/

.blog-box-img3 {
	display: flex;
	margin-top: 32px;
	margin-left: 32px;
	width: 454px;
	height: 230px;
	margin-right: 32px;

}

.img3 {
	border-radius: 10px;
}

.blog-box-button3 {

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 122px;
	height: 36px;
	gap: 8px;

	font-family: Nunito;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	border-radius: 10px;
	border-width: 2px;
	border-color: #6444F4;

	background: white;

	color: #FEFDFF;

	cursor: pointer;

}

.blog-box-button3 p {
	color: #6444F4;

}

.blog-box-text-under3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 85px;
	padding-right: 32px;
}

.blog-box-text-info3 {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}

.blog-box-text-dateAt3 {
	display: flex;
	align-items: end;
	margin-bottom: 10px;
}

.blog-box-text-topic3 {
	font-size: 20px;
}

.blog-box-text-description3 {
	margin-right: 30px;
	font-size: 16px;
	padding-top: 15px;
}

#chevron_right3 {
	width: 24px;
	color: #15343A;
}

@media (max-width: 860px) {
	.blog-box3 {
		background-color: red;
		display: flex;
		max-width: 630px;
		height: auto;
		margin-bottom: 20px;
		margin-left: 2px;
		flex-direction: column;
		border-radius: 10px;
	}

	.blog-box-text-info3 {
		display: grid;
		margin-left: 30px;
		margin-right: 30px;
		grid-template-rows: auto;
	}

	.blog-box-img3 .img3 {
		margin-bottom: 10px;
		width: 393px;
		height: 262px;
		border-radius: 10px;
	}

	.blog-box-text-under3 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: flex-end;
		margin-bottom: 20px;
		padding-right: 0px;
	}

	.blog-box-text-dateAt3 {
		display: flex;
		align-items: end;
		margin-bottom: 0px;
	}

	.blog-box-text-topic3 {
		display: flex;
		font-size: 20px;
	}

	.blog-box-text-description3 {
		display: flex;
		font-size: 16px;
		padding-top: 15px;
		margin-bottom: 20px;
		margin-right: 10px;
	}

}

@media (max-width: 1245px) {
	.blog-box3 {
		width: 1000px;
	}

	.blog-box-text-under3 {
		padding-top: 70px;
	}
}

@media (max-width: 1080px) {
	.blog-box3 {
		width: 800px;
	}

	.blog-box-text-under3 {
		padding-top: 0px;
	}

}