html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;

    font-family: 'Nunito', sans-serif;
    line-height: 150%;

    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-color: #fefdff;

    --header-height: 100px;
    --footer-height: 332px;

}

.container {
    width: 100%;
    max-width: 1440px;
}

.nav {
    font-size: 20px;
}

.authentication {
    margin-right: 120px;
}

.login {
    display: inline;
    text-align: center;
    margin: 38px 16px;

    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
    color: #15343A;
}

.btn {
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 180px;
    height: 56px;

    margin: 18px 0 18px 0;
    padding: 16px;

    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    border-radius: var(--components, 8px);
    border: 2px solid var(--brand-purple-400---main, #6444F4);

    background-color: #fefdff;

    cursor: pointer;
}

.button-link {
    text-decoration: none;
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.hero-image {
    position: relative;

    height: 760px;

    background-image: url("../images/hero-image.png");
    background-position: right;
    background-repeat: no-repeat;
}

.vector {
    position: absolute;
    top: 285px;
    right: 490px;
}

.hero-text {
    margin-left: 120px;
    margin-top: 88px;

    width: 879px;
    height: 174px;

    font-size: 64px;
    font-weight: 800;
    line-height: normal;
}

.text {
    width: 331px;
    height: 90px;

    margin-left: 120px;
    margin-top: 32px;

    color: #15343A;

    font-size: 20px;
    font-weight: 400;
}

.hero-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 282px;
    height: 56px;
    margin: 40px 0 0 120px;
    gap: 8px;

    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
    border-radius: 8px;

    background: #6444F4;
    color: #FEFDFF;

    cursor: pointer;
}

.splash {
    position: absolute;
    top: -28px;
    left: -32px;
}

.how-hearify-works-page {
    margin-top: 176px;
}

.how-hearify-works-vector {
    position: relative;

    height: 70px;

    /*background-image: url(./images/how-hearify-works.svg);*/
    background-position: center;
    background-repeat: no-repeat;
}

.how-hearify-works-text {
    font-size: 40px;
    font-weight: 700;

    color: #15343A;
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

.how-hearify-works-background {
    /*background-image: url(./images/bg.svg);*/
    background-position: center;
}

.how-hearify-works-cards {
    border-radius: 20px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.13) 68.53%);
    backdrop-filter: blur(22.885459899902344px);
}

.how-hearify-works-cards-top {
    display: flex;

    padding-top: 64px;
    margin: 0 222px 24px 222px;

    height: 473px;
}

.how-hearify-works-card-top-left {
    height: 100%;
    width: 486px;

    margin-right: 24px;
}

.how-hearify-works-card-top-right {
    height: 100%;
    width: 486px;
}

.how-hearify-works-cards-bottom {
    display: flex;

    margin: 0 120px;
    padding-bottom: 134px;

    height: 446px;
}

.how-hearify-works-card-bottom-left {
    height: 100%;
    width: 468px;
}


.how-hearify-works-card-bottom-center {
    height: 100%;
    width: 338px;

    margin: 0 24px;

}

.how-hearify-works-card-bottom-right {
    height: 100%;
    width: 346px;
}

.card-header {
    margin: 32px 0 24px 32px;

    font-size: 28px;
    font-weight: 700;
    color: #4E30D2;
}

.card-text {
    margin: 0 0 24px 32px;

    font-size: 16px;
    color: #15343A;
}

.card-1-text {
    margin-right: 140px;
}

.card-2-text {
    margin-right: 150px;
}

.card-3-text {
    margin-right: 120px;
}

.card-image {
    position: relative;

    margin-left: 32px;
}

.card-image-apload-you-tube-file {
    position: absolute;
    top: 132px;
    right: 0;
}

.card-image-generate {
    margin-top: -12px;
}

.terms-link {
    text-decoration: none;

    color: #94A3B8;
}

.social-network {
    margin: 0 16px;

    text-decoration: none;
}

.blog-name p {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
}

/*new added*/
.blog-box-container2 {
    align-items: center;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.blog-box2 {
    background-color: red;
    display: flex;
    max-width: 384px;
    max-height: 582px;
    margin-bottom: 20px;
    margin-left: 2px;
    flex-direction: column;
    border-radius: 10px;
}

.blog-box-text-info2 {
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;

}

.blog-box-img2 .img2 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 320px;
    height: 230px;
    border-radius: 10px;
}

.blog-box-button2 {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 122px;
    height: 36px;
    gap: 8px;

    font-family: Nunito;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 10px;
    border-width: 2px;
    border-color: #6444F4;

    background: white;

    color: #FEFDFF;

    cursor: pointer;

}

.blog-box-button2 p {
    color: #6444F4;
}

.blog-box-text-under2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;

}

.blog-box-text-dateAt2 {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}


#sec-svg {
    margin-left: 10px;
}

.blog-box-text-topic2 {
    font-size: 20px;
}

.blog-box-text-description2 {
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 20px;
}

#chevron_right2 {
    width: 24px;
    color: #15343A;
}

@media (max-width: 1245px) {
	.blog-box2 {
		width: 1000px;
	}
}

@media (max-width: 1080px) {
	.blog-box3 {
		width: 800px;
	}

	.blog-box-text-under3{
		padding-top: 0px;
	}

}