@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.blog-box3 {
  display: flex;
  width: 1150px;
  height: 294px;
  margin-bottom: 75px;
  flex-direction: row;
  border-color: #6444f4;
  border-width: medium;
  background-color: #e8e8e8;
  border-radius: 30px;
}

/*@media (max-width: 1200px) {
	.blog-box3 {
		width: 800px;
	}
}*/

.blog-box-img3 {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  width: 345px;
  height: 230px;
  margin-right: 30px;
}

.img3 {
  border-radius: 10px;
}

.blog-box-button3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 122px;
  height: 36px;
  gap: 8px;

  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 10px;
  border-width: 2px;
  border-color: #6444f4;

  background: white;

  color: #fefdff;

  cursor: pointer;
}

.blog-box-button3 p {
  color: #6444f4;
}

.blog-box-text-under3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 20px;
}

.blog-box-text-info3 {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.blog-box-text-dateAt3 {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

.blog-box-text-topic3 {
  width: 711px;
  height: 48px;
  font-size: 20px;
  margin-right: 30px;
}

.blog-box-text-description3 {
  width: 711px;
  height: 130px;
  margin-right: 30px;
  font-size: 16px;
  margin-top: 15px;
}

.postAuthorName {
  font-weight: 700;
}

#chevron_right3 {
  width: 24px;
  color: #15343a;
}

@media (max-width: 560px) {
  .blog-box3 {
    max-width: 400px;
  }
  .blog-box-img3 .img3 {
    margin-bottom: 10px;
    width: 340px;
    height: 226px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 10px;
    width: 340px;
    height: 226px;
    margin-right: 0px;
  }
}

@media (max-width: 1245px) {
  .blog-box3 {
    width: 1000px;
  }

  .blog-box-text-under3 {
    margin-top: 45px;
  }
  .blog-box-text-topic3 {
    width: 560px;
    height: 48px;
    font-size: 20px;
    margin-right: 30px;
  }

  .blog-box-text-description3 {
    width: 560px;
    height: 130px;
    margin-right: 30px;
    font-size: 16px;
    margin-top: 15px;
  }
  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 20px;
  }
}

@media (max-width: 1100px) {
  .blog-box3 {
    width: 800px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 20px;
  }

  .blog-box-text-info3 {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
  }

  .blog-box-text-topic3 {
    width: 375px;
    height: 48px;
    font-size: 16px;
    margin-right: 15px;
  }

  .blog-box-text-description3 {
    width: 375px;
    height: 130px;
    margin-right: 15px;
    font-size: 14px;
    margin-top: 30px;
  }
}

@media (max-width: 860px) {
  .blog-box3 {
    background-color: #f0f0f0;
    display: flex;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 0px;
    flex-direction: column;
    border-radius: 10px;
  }

  .blog-box-text-info3 {
    display: grid;
    width: 540px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;
    margin-top: 10px;
  }

  .blog-box-img3 .img3 {
    margin-bottom: 10px;
    width: 540px;
    height: 360px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 10px;
    width: 540px;
    height: 360px;
    margin-right: 0px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 0px;
  }

  .blog-box-text-topic3 {
    width: 540px;
    height: 70px;
    display: flex;
    font-size: 20px;
    margin-right: 0px;
  }

  .blog-box-text-description3 {
    width: 540px;
    min-height: 120px;
    display: flex;
    font-size: 16px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 740px) {
  .blog-box3 {
    background-color: #f0f0f0;
    display: flex;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 0px;
    flex-direction: column;
    border-radius: 10px;
  }

  .blog-box-text-info3 {
    display: grid;
    width: 440px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;
    margin-top: 10px;
  }

  .blog-box-img3 .img3 {
    margin-bottom: 10px;
    width: 440px;
    height: 293px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 10px;
    width: 440px;
    height: 293px;
    margin-right: 0px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 0px;
  }

  .blog-box-text-topic3 {
    width: 440px;
    height: 70px;
    display: flex;
    font-size: 20px;
    margin-right: 0px;
  }

  .blog-box-text-description3 {
    width: 440px;
    min-height: 120px;
    display: flex;
    font-size: 16px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 680px) {
  .blog-box3 {
    background-color: #f0f0f0;
    display: flex;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 0px;
    flex-direction: column;
  }

  .blog-box-text-info3 {
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;
    margin-top: 10px;
  }

  .blog-box-img3 .img3 {
    margin-bottom: 10px;
    width: 440px;
    height: 293px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 10px;
    width: 440px;
    height: 293px;
    margin-right: 0px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-right: 0px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 0px;
  }

  .blog-box-text-topic3 {
    display: flex;
    font-size: 20px;
  }

  .blog-box-text-description3 {
    display: flex;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .blog-box3 {
    background-color: #f0f0f0;
    display: flex;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 0px;
    flex-direction: column;
    border-radius: 10px;
  }

  .blog-box-text-info3 {
    display: grid;
    width: 340px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;
    margin-top: 10px;
  }

  .blog-box-img3 .img3 {
    margin-bottom: 10px;
    width: 340px;
    height: 226px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 10px;
    width: 340px;
    height: 226px;
    margin-right: 0px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .blog-box-text-topic3 {
    width: 340px;
    height: 70px;
    display: flex;
    font-size: 16px;
    margin-right: 0px;
  }

  .blog-box-text-description3 {
    width: 340px;
    min-height: 120px;
    display: flex;
    font-size: 13px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .blog-box3 {
    background-color: #f0f0f0;
    display: flex;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 0px;
    flex-direction: column;
    border-radius: 10px;
  }

  .blog-box-text-info3 {
    display: grid;
    width: 240px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto;
    margin-top: 10px;
  }

  .blog-box-img3 .img3 {
    margin-bottom: 0px;
    width: 240px;
    height: 160px;
    margin-right: 0px;
  }

  .blog-box-img3 {
    margin-bottom: 0px;
    width: 240px;
    height: 160px;
    margin-right: 0px;
  }

  .blog-box-text-under3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .blog-box-text-dateAt3 {
    display: flex;
    align-items: end;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .blog-box-text-topic3 {
    width: 240px;
    height: 100px;
    display: flex;
    font-size: 14px;
    margin-right: 0px;
    font-weight: 700;
  }

  .blog-box-text-description3 {
    width: 240px;
    min-height: 150px;
    display: flex;
    font-size: 13px;
    margin-right: 0px;
    margin-top: 10px;
  }
}
