@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
  line-height: 150%;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  --header-height: 100px;
  --footer-height: 332px;

  background-image: url("../images/background-c95dcfd5.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-height);
}

.logo {
  display: inline;
  margin: 16px 20px 16px 20px;
}

.nav {
  font-size: 20px;
}

.nav-link {
  margin: 35px 32px 35px 0px;

  text-decoration: none;
  color: #15343a;
}

.login {
  display: inline;
  text-align: center;
  margin: 38px 16px;

  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #15343a;
}

.btn {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 180px;
  height: 56px;

  margin: 18px 20px 18px 0px;
  padding: 16px;

  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  border-radius: var(--components, 8px);
  border: 2px solid var(--brand-purple-400---main, #6444f4);

  background-color: #fefdff;

  cursor: pointer;
}

.button-link {
  text-decoration: none;
}

.content {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero-image {
  position: relative;

  height: 760px;

  /* background-image: url("./images/hero-image.svg"); */
  background-position: right;
  background-repeat: no-repeat;
}

.quiz {
  position: absolute;
  margin-left: 504px;
  margin-top: 326px;
}

.choose-pdf {
  position: absolute;
  top: -206px;
  left: 349px;
}

.you-tube {
  position: absolute;
  top: 170px;
  left: 120px;
}

.vector {
  position: absolute;
  top: 285px;
  right: 490px;
}

.hero-text {
  margin-left: 120px;
  margin-top: 88px;

  width: 879px;
  height: 174px;

  font-size: 64px;
  font-weight: 800;
  line-height: normal;
}

.text {
  width: 331px;
  height: 90px;

  margin-left: 120px;
  margin-top: 32px;

  color: #15343a;

  font-size: 20px;
  font-weight: 400;
}

.hero-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 282px;
  height: 56px;
  margin: 40px 0 0 120px;
  gap: 8px;

  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 8px;

  background: #6444f4;
  color: #fefdff;

  cursor: pointer;
}

.splash {
  position: absolute;
  top: -28px;
  left: -32px;
}

.how-hearify-works-page {
  margin-top: 176px;
}

.how-hearify-works-vector {
  position: relative;

  height: 70px;

  /* background-image: url(./images/how-hearify-works.svg); */
  background-position: center;
  background-repeat: no-repeat;
}

.how-hearify-works-text {
  font-size: 40px;
  font-weight: 700;

  color: #15343a;
  text-align: center;
  align-items: center;
  line-height: 1.5;
}

.how-hearify-works-background {
  /* background-image: url(./images/bg.svg); */
  background-position: center;
}

.how-hearify-works-cards {
  border-radius: 20px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.13) 68.53%
  );
  backdrop-filter: blur(22.885459899902344px);
}

.how-hearify-works-cards-top {
  display: flex;

  padding-top: 64px;
  margin: 0 222px 24px 222px;

  height: 473px;
}

.how-hearify-works-card-top-left {
  height: 100%;
  width: 486px;

  margin-right: 24px;
}

.how-hearify-works-card-top-right {
  height: 100%;
  width: 486px;
}

.how-hearify-works-cards-bottom {
  display: flex;

  margin: 0 120px;
  padding-bottom: 134px;

  height: 446px;
}

.how-hearify-works-card-bottom-left {
  height: 100%;
  width: 468px;
}

.how-hearify-works-card-bottom-center {
  height: 100%;
  width: 338px;

  margin: 0 24px;
}

.how-hearify-works-card-bottom-right {
  height: 100%;
  width: 346px;
}

.card-header {
  margin: 32px 0 24px 32px;

  font-size: 28px;
  font-weight: 700;
  color: #4e30d2;
}

.card-text {
  margin: 0 0 24px 32px;

  font-size: 16px;
  color: #15343a;
}

.card-1-text {
  margin-right: 140px;
}

.card-2-text {
  margin-right: 150px;
}

.card-3-text {
  margin-right: 120px;
}

.card-image {
  position: relative;

  margin-left: 32px;
}

.card-image-apload-you-tube-file {
  position: absolute;
  top: 132px;
  right: 0;
}

.card-image-generate {
  margin-top: -12px;
}

.faq {
  height: 1136px;
}

.faq-background {
  margin-top: 50px;
  background-position: center;
  height: 1093px;

  /* background-image: url(./images/FAQ-bg.svg); */
}

.pricing {
  margin-left: 20px;

  position: relative;
}

.pricing-btn {
  position: absolute;
  top: 573px;
  left: 459px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--footer-height);

  line-height: 1;
}

.footer-nav {
  display: inline;

  margin-left: 120px;

  font-size: 20px;
}

.footer-logo {
  position: relative;
  display: inline;

  margin-right: 140px;
}

.terms {
  width: 330px;
  position: absolute;
  left: -80px;
  top: 100px;
  font-size: 16px;
  color: #94a3b8;
}

.terms-link {
  text-decoration: none;

  color: #94a3b8;
}

.contacts {
  position: relative;

  margin-right: 104px;
}

.social-network {
  margin: 0 16px;

  text-decoration: none;
}

.email {
  position: relative;
  top: 25px;
  right: -5px;

  margin-right: 16px;

  text-align: right;

  font-size: 16px;
  font-weight: 400;
  color: #15343a;
  text-decoration: none;
}

.blog-name {
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.blog-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 30px;
  margin-left: 10px;
}

.blog-box-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.nav-bar {
  width: 40px;
  height: 40px;
  color: #15343a;
  display: none;
  border: none;
  background-color: white;
}

.PagNavBar {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  justify-content: center;
}

.ul-NavBar {
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #bbbbbb;
}

.li-NavBar {
  float: left;
}

.li-NavBar a {
  display: block;
  color: #1a1a1a;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 18px;
}
.MobTerms {
  display: none;
}

.TermsOfUse {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.postContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  background-color: hsla(0, 0%, 88%, 0);
}

.postUserName {
  height: 20px;
}

.postUserTextInfo {
  margin-left: 10px;
}

.postUserInfo {
  display: flex;
  width: 900px;
  margin-left: 60px;
}

.UserFoto {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.postName {
  width: 1000px;
  min-height: 200px;
  font-size: 60px;
  line-height: 1.2;
  margin-top: 50px;
  margin-left: 60px;
  font-weight: 800;
}

.postShortDescription {
  width: 725px;
  min-height: 60px;
  margin-top: 20px;
  align-self: center;
}

.postFirstFoto {
  display: flex;
  height: 505px;
  margin-top: 20px;
  justify-content: center;
}

.postFotoDescription {
  width: 725px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

.postFirstFotoDescription {
  font-size: 16px;
  color: #94a3b8;
}

.postSmallName {
  font-size: 40px;
  width: 792px;
  min-height: 60px;
  margin-top: 20px;
  align-self: center;
  line-height: 60px;
  font-weight: 700;
}

.postSecondDescription {
  margin-top: 20px;
  align-self: center;
  width: 725px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 400px;
  line-height: 30px;
}

.postThirdDescription {
  margin-top: 20px;
  align-self: center;
  width: 725px;
  min-height: 60px;
  font-size: 20px;
  line-height: 30px;
}

.postAuthorQuote {
  margin-top: 20px;
  align-self: center;
  width: 725px;
  min-height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #94a3b8;
}

.postAuthorInfo {
  width: 725px;
  min-height: 60px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.postLastDescription {
  margin-top: 20px;
  align-self: center;
  width: 725px;
  min-height: 60px;
  font-size: 20px;
  line-height: 30px;
}

.postAuthorName {
  font-weight: 700;
}

@media (max-width: 1245px) {
  .header {
    justify-content: space-evenly;
  }

  .footer {
    justify-content: center;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .authentication {
    margin-right: 0px;
  }

  .contacts {
    margin-right: 100px;
  }

  .footer-nav {
    margin-right: 40px;
  }
}

@media (max-width: 1165px) {
  .contacts {
    margin-right: 40px;
  }
  .footer-nav {
    margin-left: 60px;
  }
}

@media (max-width: 1100px) {
  .nav {
    margin-left: 30px;
  }

  .header {
    justify-content: center;
  }

  .footer-nav {
    margin-right: -10px;
  }
}

@media (max-width: 1025px) {
  .nav-link {
    margin: 35px 15px 35px 0px;
  }
}
@media (max-width: 1060px) {
  .postName {
    width: 900px;
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 975px) {
  .footer-logo {
    margin-right: 100px;
  }

  .logo {
    margin: 10px 10px 10px 10px;
  }

  .login {
    margin: 38px 10px;
  }

  .btn {
    margin: 18px 9px 18px 0px;
  }

  .nav {
    margin-left: 5px;
  }

  .nav-link {
    margin: 35px 10px 31px 0px;
  }

  .footer-nav {
    margin-right: 15px;
    margin-left: 0px;
  }

  .contacts {
    margin-right: 0px;
  }
}

@media (max-width: 960px) {
  .postName {
    width: 830px;
    margin-left: 10px;
  }
  .postUserInfo {
    width: 830px;
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .postName {
    font-size: 55px;
    width: 760px;
  }
  .postUserInfo {
    width: 760px;
  }
}

@media (max-width: 860px) {
  .hide-on-small-screen {
    display: none;
  }
  .email {
    top: auto;
    right: -5px;
    bottom: -120%;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    margin: -50px 0px 0px 0px;
    width: 725px;
    margin-right: 0px;
  }

  .contacts {
    width: 148px;
    height: 57px;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    column-gap: 30px;
    margin: 0px;
    /* position: relative; */
    left: 480px;
    /* justify-content: flex-end; */
    margin-top: -295px;
  }

  .terms {
    left: 90px;
  }

  .footer-logo {
    display: flex;
    justify-content: start;
    margin: 0px;
    margin-top: -100px;
    margin-left: 70px;
    padding-left: 2px;
  }

  .footer {
    display: grid;
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .nav-bar {
    position: absolute;
    display: flex;
    margin-left: 205px;
    margin-top: -20px;
  }

  .nav {
    display: none;
  }

  .authentication {
    display: none;
  }

  .logo {
    margin: 0 0 0 0;
    flex: 1;
    text-align: center;
  }

  .blog-view {
    display: none;
  }
  .nav-link {
    margin: 35px 10px 31px 10px;
  }

  .postFirstFoto {
    width: 724px;
    height: 444px;
  }

  .postSmallName {
    font-size: 35px;
    width: 750px;
  }
}
@media (max-width: 770px) {
  .postName {
    font-size: 40px;
    width: 555px;
    margin-left: 55px;
    min-height: 130px;
  }
  .postUserInfo {
    width: 555px;
    margin-left: 55px;
  }
  .postShortDescription {
    width: 610px;
  }
  .postFirstFoto {
    width: 624px;
    height: 382px;
  }
  .postSmallName {
    width: 555px;
    margin-left: 55px;
    align-self: auto;
  }
  .postSecondDescription {
    width: 610px;
  }
  .postThirdDescription {
    width: 610px;
  }
  .postAuthorQuote {
    width: 610px;
  }
  .postAuthorInfo {
    width: 610px;
  }
  .postLastDescription {
    width: 610px;
  }
  .postFotoDescription {
    width: 500px;
  }
}
@media (max-width: 740px) {
  .nav-link {
    margin: 35px 0px 31px 0px;
  }

  .footer-nav {
    justify-content: space-around;
  }

  .nav-bar {
    margin-left: 140px;
    margin-top: -20px;
  }
  .contacts {
    left: 365px;
  }

  .footer-nav {
    width: 600px;
  }

  .terms {
    left: 30px;
  }
  .postName {
    margin-left: -2px;
  }
  .postUserInfo {
    margin-left: -2px;
  }
  .postSmallName {
    margin-left: -2px;
  }
}

@media (max-width: 680px) {
  .footer-nav {
    justify-content: space-evenly;
  }

  .contacts {
    margin-right: 210px;
  }
  .postName {
    font-size: 35px;
    width: 485px;
    margin-left: 55px;
    min-height: 90px;
  }
  .postUserInfo {
    width: 555px;
    margin-left: 55px;
  }
  .postShortDescription {
    width: 510px;
  }
  .postFirstFoto {
    width: 524px;
    height: 321px;
  }
  .postSmallName {
    width: 555px;
    margin-left: 55px;
    align-self: auto;
  }
  .postSecondDescription {
    width: 510px;
  }
  .postThirdDescription {
    width: 510px;
  }
  .postAuthorQuote {
    width: 510px;
  }
  .postAuthorInfo {
    width: 510px;
  }
  .postLastDescription {
    width: 510px;
  }
  .postFotoDescription {
    width: 510px;
  }
  .postFirstFotoDescription {
    font-size: 12px;
  }
  .postUserInfo {
    width: 455px;
  }
  .postSmallName {
    width: 455px;
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .nav-link {
    margin: 35px 10px 31px 10px;
  }

  .footer-nav {
    justify-content: center;
  }

  .contacts {
    margin-right: 210px;
  }

  .footer-nav {
    width: 500px;
  }

  .footer-logo {
    margin-left: 60px;
  }

  .contacts {
    left: 275px;
  }

  .nav-bar {
    margin-left: 90px;
  }

  .terms {
    left: -10px;
  }
  .postUserInfo {
    margin-left: 10px;
  }

  .postName {
    margin-left: 10px;
  }
  .postSmallName {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .footer-nav {
    justify-content: center;
  }

  .nav-link {
    margin-right: 10px;
  }
}

@media (max-width: 550px) {
  .footer-nav {
    justify-content: space-evenly;
  }

  .contacts {
    margin-right: 210px;
  }

  .postUserName {
    font-size: 20px;
  }

  .postUserDescription {
    font-size: 14px;
  }

  .postName {
    font-size: 28px;
    line-height: 42px;
    width: 315px;
    margin-left: 0px;
    align-self: center;
    min-height: 90px;
  }
  .postUserInfo {
    width: 315px;
    margin-left: 0px;
    align-self: center;
  }
  .postShortDescription {
    width: 315px;
  }
  .postFirstFoto {
    width: 290px;
    height: 181px;
  }
  .postSmallName {
    width: 315px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-left: 0px;
    align-self: center;
  }
  .postSecondDescription {
    width: 315px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .postThirdDescription {
    width: 315px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .postAuthorQuote {
    width: 315px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .postLastDescription {
    width: 315px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .postFotoDescription {
    width: 300px;
  }
  .postFirstFotoDescription {
    font-size: 10px;
  }
  .postAuthorInfo {
    width: 200px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    align-self: flex-end;
    flex-direction: column;
  }
  .postAuthorName {
    width: 200px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
}

@media (max-width: 500px) {
  .footer-nav {
    width: 400px;
  }

  .footer-logo {
    width: 210px;
    height: 70px;
    padding-left: 0px;
    margin-left: 7%;
  }
  .nav-link {
    font-size: 16px;
  }
  .contacts {
    left: 55%;
  }

  .nav-bar {
    margin-left: 50px;
  }
}
@media (max-width: 1200px) {
}
