/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #414141;
  --ifm-color-primary-dark: #8600cf;
  --ifm-color-primary-darker: #7f00c4;
  --ifm-color-primary-darkest: #6800a1;
  --ifm-color-primary-light: #a400fd;
  --ifm-color-primary-lighter: #a90aff;
  --ifm-color-primary-lightest: #b52cff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9500e6;
  --ifm-color-primary-dark: #8600cf;
  --ifm-color-primary-darker: #7f00c4;
  --ifm-color-primary-darkest: #6800a1;
  --ifm-color-primary-light: #a400fd;
  --ifm-color-primary-lighter: #a90aff;
  --ifm-color-primary-lightest: #b52cff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
