@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  z-index: 2;
  align-items: center;
  padding-left: 80px;
  max-width: 100%;
  overflow: hidden;
  gap: 80px;
  border-radius: $radius-small;

  box-shadow:
    0px 5px 11px 0px rgba(134, 159, 172, 0.1),
    0px 20px 20px 0px rgba(134, 159, 172, 0.09),
    0px 44px 27px 0px rgba(134, 159, 172, 0.05),
    0px 79px 32px 0px rgba(134, 159, 172, 0.01),
    0px 123px 35px 0px rgba(134, 159, 172, 0);
  background: linear-gradient(86.61deg, rgba(240, 236, 255, 0.2) 0.23%, rgba(206, 195, 255, 0.2) 99.74%);

  @include md {
    padding: 32px;
    gap: 40px;
    flex-direction: row;
  }

  @include xs {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  min-width: 550px;
  flex-direction: column;
  gap: 16px;

  @include lg {
    padding: 16px;
  }

  @include md {
    min-width: 380px;
    padding: 0;
  }

  @include sm {
    min-width: 300px;
  }

  @include xs {
    padding: 16px 32px 32px;
    min-width: unset;
    align-items: center;
    text-align: center;
  }
}

.title {
  @include text-heading-3;

  @include md {
    @include text-heading-4;
    text-align: left;
    margin-bottom: 24px;
  }
}

.text {
  @include text-subtitle-2;

  @include md {
    max-width: 380px;
  }

  @include sm {
    @include text-subtitle-4;
  }
}

.image {
  width: 420px;
  height: auto;

  @include lg {
    width: 380px;
  }

  @include md {
    width: 360px;
    height: auto;
  }

  @include xs {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
  }
}

.button {
  @include md {
    width: 220px !important;
    font-size: 16px;
    padding: 16px 24px;
  }

  @include xs {
    width: 100% !important;
  }
}
