@use 'src/styles/helpers' as *;

.content-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  @include sm {
    flex: 1 1 50%;
    padding-bottom: 24px;
  }
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background-color: var(--brand-purpe-10);
  box-shadow:
    0px 5px 11px 0px rgba(134, 159, 172, 0.1),
    0px 20px 20px 0px rgba(134, 159, 172, 0.09),
    0px 44px 27px 0px rgba(134, 159, 172, 0.05),
    0px 79px 32px 0px rgba(134, 159, 172, 0.01),
    0px 123px 35px 0px rgba(134, 159, 172, 0);
  @include xs {
    width: 64px;
    height: 64px;
  }
}

.image {
  width: 48px;
  height: 48px;
}

.item-text {
  @include text-heading-5;
  text-align: center;
  max-width: 200px;
  font-weight: 700;
  @include xs {
    @include text-field-md;
    max-width: 127px;
  }
}
